.productCard {
  border: 1.5px solid black;
  border-radius: 10px;
  padding: 15px;
  background-color: white;
  color: black;
}

.parentBox {
  display: flex;
 justify-content: center;
 align-items: center;
}

.mainBox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  height: 250px;
  justify-content: center; 
}

.star{
  display: flex;
  font-size: large;
}

.submitButton {
  border: none;
  background-color: rgb(172, 192, 213);
  border-radius: 10px;
}